html, body, #root {
  height: 100%;
  margin: 0;
}

#map-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative; /* Necesario para el posicionamiento absoluto del botón */
}

.back-button {
  position: absolute;
  top: 20px; /* Ajusta según prefieras */
  left: 20px; /* Mueve el botón a la izquierda */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Asegura que el botón esté por encima del mapa */
}
